<h1>Edit a Marathon</h1>

<br>

<form action="/marathons/<%=@marathon.id%>" method="POST">
    <input id="hidden" type="hidden" name="_method" value="PATCH">
    
    <label> Race Name: </label>
    <input type="text" name="name" value="<%= @marathon.name %>">

    <br></br>

    <label> Date: </label>
    <input type="date" name="date">

    <br></br>

    <label> Location: </label>
    <input type="text" name="location">

    <br></br>

    <input type="submit" value="Save Marathon Edits">
</form>

<a href="/logout">
<input type="submit" value="Logout"</a>