<form action="/marathons/name" method="post" >
<label>
Search for a marathon:
</label>
<input type="text" name="name">
<input type="submit" value="Search">
</form>


<% @marathons.each do |marathon| %>
   <a href="/marathons/<%=marathon.id%>"><%= marathon.name %></a>
    
    <br></br>
    
    <% end %>
    
    <br></br>



<a href='/marathons/new'>
<input type="submit" value="Add a marathon"</a> 

<br>

<a href="/logout">
<input type="submit" value="Logout"</a>