<% @marathons.each do |marathon| %>
    <h2><%= marathon.name %></h2>
    <br>
    <p>Date: <%= marathon.date %></p>
    <p>Location: <%= marathon.location %></p>
    <% end %>
    
    <br></br>

<a href='/marathons/new'>
<input type="submit" value="Add a marathon"</a> 

<br>

<a href="/logout">
<input type="submit" value="Logout"</a>