<% @marathons.each do |marathon| %>
   <a href="/marathons/<%=marathon.id%>"><%= marathon.name %></a>
    
    <br></br>
    
    <% end %>
    
    <br></br>

<a href='/marathons/new'>
<input type="submit" value="Add a marathon"</a> 

<br>

<a href="/logout">
<input type="submit" value="Logout"</a>