<h1>Create a Marathon</h1>

<br>

<form action='/marathons' method="POST">
    <label> Race Name: </label>
    <input type="text" name="name" placeholder="Boston Marathon">

    <br></br>

    <label> Date: </label>
    <input type="date" name="date">

    <br></br>

    <label> Location: </label>
    <input type="text" name="location">

    <br></br>

    <input type="submit" value="Submit">
</form>