<h2><%= @marathon.name %></h2>

<br>

<p>Submitted by: <%=@marathon.user.name %></h1></p>

<br>

<% if @marathon.user == current_user %>
    
    <a href="/marathons">
    <input type="submit" value="Back to Marathon Index"</a> 

    <br>

    <a href="/marathons/<%=@marathon.id %>/edit">
    <input type="submit" value="Edit"</a> 

    <br>

    <form action="/marathons/<%= @marathon.id %>" method="POST"> 
    <input id="hidden" type="hidden" name="_method" value="delete"> 
    <input type="submit" value="Delete"> </form>   


<% end %> 
